<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table Tennis</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">My Rubbers</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Picture</th>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tr th:each="rubber : ${rubber}">
                                <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                                <td th:text="${rubber.id}">123</td>
                                <td th:text="${rubber.name}"></td>
                                <td th:text="${rubber.description}">Tasty Goodnees</td>
                                <td th:text="${rubber.color}">Tasty Goodnees</td>
                                <td><img alt="Image" th:src="*{'data:image/png;base64,'+rubber.picture}" width="50"
                                         height="50"/></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>